* {
    -fx-primary: #2A2E37;
    -fx-secondary: #FFFF8D;
    -fx-dialog: #3b414f;
    -fx-primarytext: #B2B2B2;
    -fx-red: #ff0800;
    -fx-green: #00FF00;
}

.root {
    -fx-background-color: -fx-primary;
}

.dialog {
    -fx-background-color: -fx-dialog;
}

.glyph-icon {
    -fx-fill: -fx-primarytext;
}

.button {
    -fx-text-fill: -fx-primarytext;
}

/*Login Screen*/

.login-button {
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.login-button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.text-field {
    -fx-text-fill: -fx-primarytext;
    -fx-font-size: 13pt;
    -jfx-focus-color: -fx-secondary;
}

.wrong, .wrong > .jfx-text-field {
    -jfx-unfocus-color: -fx-red;
    -jfx-focus-color: -fx-red;
}

.correct, .correct > .jfx-text-field {
    -jfx-unfocus-color: -fx-green;
    -jfx-focus-color: -fx-green;
}

.search-button {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 18;
    -fx-border-color: E8790C;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.search-bar {
    -fx-border-color: -fx-dialog;
}

.exclamation-circle {
    -fx-fill: -fx-red;
}

.combo-box > .cell, .search-bar {
    -fx-text-fill: white;
}

.jfx-hamburger-icon {
    -fx-spacing: 8;
}

.jfx-hamburger StackPane {
    -fx-pref-width: 40px;
    -fx-pref-height: 6px;
    -fx-background-color: -fx-primarytext;
}

.icons-badge .badge-pane {
    -fx-background-color: #ff4081;
    -fx-background-radius: 23;
    -fx-pref-width: 23;
    -fx-pref-height: 23;
    -fx-alignment: center;
}

.icons-badge Label {
    -fx-font-weight: BOLD;
    -fx-font-size: 14.0px;
    -fx-text-fill: WHITE;
}

.cell-button {
    -fx-background-color: #ca1b5d;
    -fx-text-fill: white;
}

.back-arrow {
    -fx-background-color: -fx-primary;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 3, 2;
}